<div>
  <div id="carousel-banner" class="carousel slide" data-ride="carousel" data-hook="banner_show">
    <ol class="carousel-indicators">
      <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-banner" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <% if @banner.video_url.present? %>
          <div class="banner-video-class">
            <iframe id="player_<%=@banner.video_id%>" 
            src="https://player.vimeo.com/video/<%=@banner.video_id%>?
            api=1&player_id=player_<%=@banner.video_id%>&autoplay=0"></iframe>
          </div>
        <% else %>
          <%= image_tag @banner.image, class: "img-responsive center-block" %>
        <div class="carousel-caption"><%= @banner.html.html_safe %></div>
        <% end %>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-banner" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-banner" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>